{
	"presets": [
		["babel-preset-gatsby",	{
			"targets": {
				"browsers": [">0.25%", "not dead"]
			}
		}]
	],
	"plugins": [
		"@babel/plugin-proposal-nullish-coalescing-operator",
		"@babel/plugin-proposal-private-methods",
		"@babel/plugin-proposal-numeric-separator",
		"@babel/plugin-proposal-optional-chaining",
		"@babel/proposal-class-properties",
		"@babel/proposal-object-rest-spread",
		"@babel/syntax-dynamic-import",
		"@babel/transform-member-expression-literals",
		["@babel/proposal-decorators", { "legacy": true }],
		["transform-inline-environment-variables", { "include": ["CURRENT_ENV"] }]
	]
}
